.slick-dots {
  bottom: 5px;
}

.slick-prev {
  left: 0;
}

.slick-next,
.slick-prev {
  height: 100px;
  width: 30px;
  z-index: 2;
}

.slick-next {
  right: 0;
}
.slick-next:before,
.slick-prev:before {
  color: #ccc;
  display: inline-block;
  font-size: 100px;
  font-family: 'Nanum Gothic', sans-serif !important;
  font-weight: bold;
  transform-origin: center;
  transform: scaleX(0.2) scaleY(0.7) translateX(-200%);
}
.slick-prev:before {
  content: '‹';
}
.slick-next:before {
  content: '›';
}

.slick-dots li button:before {
  font-size: 10px;
  color: white;
  opacity: 0.5;
}

.bookmark-content-1,
.bookmark-content-2,
.bookmark-content-3,
.bookmark-content-4,
.bookmark-content-6 {
  margin: 0 auto;
}

.bookmark-1 li,
.bookmark-2 li,
.bookmark-3 li,
.bookmark-4 li,
.bookmark-6 li {
  cursor: pointer;
}

.fromTopIn {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.fromTopOut {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
  opacity: 0;
}
.fromBottomIn {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.fromBottomOut {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0;
}
.fromBottomInDelay {
  -webkit-transition: opacity 1s ease 0.5s, -webkit-transform 1s ease 0.5s;
  transition: opacity 1s ease 0.5s, -webkit-transform 1s ease 0.5s;
  transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
  transition: transform 1s ease 0.5s, opacity 1s ease 0.5s,
    -webkit-transform 1s ease 0.5s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.fromBottomOutDelay {
  -webkit-transition: opacity 1s ease 0.5s, -webkit-transform 1s ease 0.5s;
  transition: opacity 1s ease 0.5s, -webkit-transform 1s ease 0.5s;
  transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
  transition: transform 1s ease 0.5s, opacity 1s ease 0.5s,
    -webkit-transform 1s ease 0.5s;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0;
}
.fromBottomInDelay2 {
  -webkit-transition: opacity 1s ease 1s, -webkit-transform 1s ease 1s;
  transition: opacity 1s ease 1s, -webkit-transform 1s ease 1s;
  transition: transform 1s ease 1s, opacity 1s ease 1s;
  transition: transform 1s ease 1s, opacity 1s ease 1s,
    -webkit-transform 1s ease 1s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.fromBottomOutDelay2 {
  -webkit-transition: opacity 1s ease 1s, -webkit-transform 1s ease 1s;
  transition: opacity 1s ease 1s, -webkit-transform 1s ease 1s;
  transition: transform 1s ease 1s, opacity 1s ease 1s;
  transition: transform 1s ease 1s, opacity 1s ease 1s,
    -webkit-transform 1s ease 1s;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0;
}
.fromLeftIn {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.fromLeftOut {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(-10px, 0);
  transform: translate(-10px, 0);
  opacity: 0;
}
.fromRightIn {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.fromRightOut {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
  opacity: 0;
}
.scaleUpIn {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
.scaleUpOut {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 0;
}
.scaleDownIn {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
.scaleDownOut {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  opacity: 0;
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}
@-webkit-keyframes mainback {
  0% {
    background-position: 75% 0;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 75% 0;
  }
  75% {
    background-position: 99% 0;
  }
  100% {
    background-position: 75% 0;
  }
}
@keyframes mainback {
  0% {
    background-position: 75% 0;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 75% 0;
  }
  75% {
    background-position: 99% 0;
  }
  100% {
    background-position: 75% 0;
  }
}
@-webkit-keyframes circle-anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}
@keyframes circle-anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  0%,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
